<div class="header" ng-controller="NavbarCtrl" bs-affix>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="../images/logo_01.png" alt=""/></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right main-nav">
                <li class="active"><a href="#">首页</a></li>
                <li><a href="#">产品中心</a></li>
                <li><a href="#">融数服务</a></li>
                <li><a href="#">关于融数</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="hero" ng-controller="HeroCtrl">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h1>融数金服平台</h1>
            <p class="lead">
                专业账户托管，个性化金融解决方案提供商
            </p>
        </div>
        <span class="mouse-icon" href="#sections" ng-click="scollTo()">
            <div class="wheel"></div>
            <i class="fa fa-angle-down"></i>
        </span>
    </div>
</div>
<div class="sections" id="sections">
    <div class="section product-section">
        <div class="container">
            <div class="row item">
                <div class="content col-md-5 col-sm-12 col-xs-12">
                    <h3 class="title">数字债权中心</h3>
                    <div class="desc">
                        <p>数字债权又称资产证券化是以特定资产组合或特定现金流为支持，发行可交易证券的一种融资形式。资产证券化仅指狭义的资产证券化。自1970年美国的政府国民抵押协会，首次发行以抵押贷款组合为基础资产的抵押支持证券-房贷转付证券，完成首笔资产证券化交易以来，资产证券化逐渐成为一种被广泛采用的金融创新工具而得到了迅猛发展，在此基础上，现在又衍生出如风险证券化产品。</p>
                        <ul>
                            <li>随时支付：多种付款方式方便用户收付款</li>
                            <li>优质投资：更多优质交易，让您的钱包越来越饱满</li>
                            <li>多种多样优惠：丰富的优惠活动，贴心又省钱</li>
                            <li>极致安全保障：多重加密方式，让您的账户更安全，让您使用更安心</li>
                        </ul>
                        <a class="btn btn-lg btn-primary btn-ghost" href="#" role="button">查看详情</a>
                    </div>
                </div>
                <figure class="figure col-md-6 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <img class="img-responsive" src="../images/pic_product02.png" alt="">
                    <!--<figcaption class="figure-caption">我们紧跟互联网脚步！</figcaption>-->
                </figure>
            </div>
            <div class="row item">
                <figure class="figure col-md-6 col-sm-12 col-xs-12">
                    <img class="img-responsive" src="../images/pic_qiyefuwupingtai02.png" alt="">
                    <!--<figcaption class="figure-caption">我们紧跟互联网脚步！</figcaption>-->
                </figure>
                <div class="content col-md-5 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <h3 class="title">企业服务平台</h3>
                    <div class="desc">
                        <p>为企业提供高效快捷的融资解决方案、供给客户丰富有趣的金融常识、培养客户建立全新高端的金融理念。帮助企业建立自己的企业银行，实现资金集中管理，提高资金流转力的同时降低资金使用成本，减轻财务成本，提高效率。</p><ul>
                            <li>一站式融资服务平台，对接多家金融机构的主流产品</li>
                            <li>平台自动为客户匹配相应的金融服务机构，提供快速优质的融资产品</li>
                        </ul>
                        <a class="btn btn-lg btn-primary btn-ghost" href="#" role="button">查看详情</a>
                    </div>
                </div>
            </div> <div class="row item">
                <div class="content col-md-5 col-sm-12 col-xs-12">
                    <h3 class="title">数字债权中心</h3>
                    <div class="desc">
                        <p>融数宝是一款为企业提供整体金融服务等第三方账户管理平台。帮助企业建立自己的企业银行，企业客户可以通过融数宝进行资金集中管理，提高内部资金流转能力并有效降低资金使用成本，减轻财务人力资本，提高工作效率。</p><ul>
                            <li>掌握账户动态，实时获取结算消息</li>
                            <li>随时监控资金流向，保证账户安全</li>
                            <li>实时获取结算消息，让用户一切尽在掌握</li>
                            <li>交易趋势一览无余，经营状况一目了然</li>
                        </ul>
                        <a class="btn btn-lg btn-primary btn-ghost" href="#" role="button">查看详情</a>
                    </div>
                </div>
                <figure class="figure col-md-6 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <img class="img-responsive" src="../images/pic_qyqb_02.png" alt="">
                    <!--<figcaption class="figure-caption">我们紧跟互联网脚步！</figcaption>-->
                </figure>
            </div>
            <div class="row item">
                <figure class="figure col-md-6 col-sm-12 col-xs-12">
                    <img class="img-responsive" src="../images/pic_grqb_02.png" alt="">
                    <!--<figcaption class="figure-caption">我们紧跟互联网脚步！</figcaption>-->
                </figure>
                <div class="content col-md-5 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <h3 class="title">数字债权中心</h3>
                    <div class="desc">
                        <p>个人钱包是一款专业的移动金融助手，方便快捷的让您体验“随时支付、体贴服务、轻松操作、优质投资，极致安全保障”。让您用了就放不下的“随身”移动钱包 全面集成了充值，提现，交易查询等账户功能，再也不用担心没带钱了。</p><ul>
                            <li>随时支付：多种付款方式方便用户收付款</li>
                            <li>优质投资：更多优质交易，让您的钱包越来越饱满</li>
                            <li>多种多样优惠：丰富的优惠活动，贴心又省钱</li>
                            <li>极致安全保障：多重加密方式，让您的账户更安全，让您使用更安心</li>
                        </ul>
                        <a class="btn btn-lg btn-primary btn-ghost" href="#" role="button">查看详情</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section service-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="icon-wrapper">
                        <i class="glyphicon glyphicon-globe"></i>
                    </div>
                    <h3>服务</h3>
                    <p>为企业提供高效快捷的
                        融资解决方案</p>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="icon-wrapper">
                        <i class="glyphicon glyphicon-knight"></i>
                    </div>
                    <h3>优势</h3>
                    <p>融数金服拥有一批互联网与
                        金融跨界型精英组成的团队</p>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="icon-wrapper">
                        <i class="glyphicon glyphicon-education"></i>
                    </div>
                    <h3>学堂</h3>
                    <p>加入融数金服
                        走向人生巅峰</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section press-section">
        <div class="container">
            <ul class="row list-unstyled">
                <li class="col-md-2 col-sm-2 col-xs-4">
                    <a href="#"><img src="../images/logo_bank05.png" alt=""/></a>
                </li><li class="col-md-2 col-sm-2 col-xs-4">
                    <a href="#"><img src="../images/logo_bank06.png" alt=""/></a>
                </li><li class="col-md-2 col-sm-2 col-xs-4">
                    <a href="#"><img src="../images/logo_bank07.png" alt=""/></a>
                </li><li class="col-md-2 col-sm-2 col-xs-4">
                    <a href="#"><img src="../images/logo_bank08.png" alt=""/></a>
                </li><li class="col-md-2 col-sm-2 col-xs-4">
                    <a href="#"><img src="../images/logo_bank09.png" alt=""/></a>
                </li><li class="col-md-2 col-sm-2 col-xs-4">
                    <a href="#"><img src="../images/logo_bank06.png" alt=""/></a>
                </li>
            </ul><ul class="row list-unstyled">
                <li class="col-md-2 col-sm-2 col-xs-4">
                    <a href="#"><img src="../images/logo_bank05.png" alt=""/></a>
                </li><li class="col-md-2 col-sm-2 col-xs-4">
                    <a href="#"><img src="../images/logo_bank07.png" alt=""/></a>
                </li><li class="col-md-2 col-sm-2 col-xs-4">
                    <a href="#"><img src="../images/logo_bank08.png" alt=""/></a>
                </li><li class="col-md-2 col-sm-2 col-xs-4">
                    <a href="#"><img src="../images/logo_bank05.png" alt=""/></a>
                </li><li class="col-md-2 col-sm-2 col-xs-4">
                    <a href="#"><img src="../images/logo_bank09.png" alt=""/></a>
                </li><li class="col-md-2 col-sm-2 col-xs-4">
                    <a href="#"><img src="../images/logo_bank07.png" alt=""/></a>
                </li>
            </ul>
        </div>
    </div>
    <!--<img src="../images/5.jpg" alt="" class="parallax"/>-->
</div>
<div class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="footer-col links col-md-2 col-sm-3 col-xs-12">
                    <div class="footer-col-inner">
                        <h3 class="title">融数金服</h3>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-caret-right"></i>关于我们</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>加入我们</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>联系我们</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>产品中心</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>融数服务</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-col links col-md-2 col-sm-3 col-xs-12">
                    <div class="footer-col-inner">
                        <h3 class="title">友情链接</h3>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-caret-right"></i>春晓</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>会唐</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-col links col-md-2 col-sm-3 col-xs-12 sm-break">
                    <div class="footer-col-inner">
                        <h3 class="title">客服管理</h3>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-caret-right"></i>公众帐号</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-col connect col-md-6 col-sm-3 col-xs-12 text-right">
                    <img src="../images/icon_weixin.png" alt=""/>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row has-divider">
                <div class="footer-col download col-md-6 col-sm-12 col-xs-12">
                    <div class="footer-col-inner">
                        <h3 class="title">融数支付</h3>
                        <ul class="list-unstyled download-list">
                            <li><a class="btn btn-lg btn-ghost" href="#"><i class="fa fa-apple"></i><span class="text">Download for iOS</span> </a></li>
                            <li><a class="btn btn-lg btn-ghost" href="#"><i class="fa fa-android"></i><span class="text">Download for Android</span></a></li>
                            <li><a class="btn btn-lg btn-ghost" href="#"><i class="fa fa-windows"></i><span class="text">敬请期待</span></a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div>
                <div class="footer-col contact col-md-6 col-sm-12 col-xs-12">
                    <div class="footer-col-inner">
                        <h3 class="title">联系我们</h3>
                        <p class="adr clearfix">
                            <i class="fa fa-map-marker pull-left"></i>
                            北京市朝阳区酒仙桥路14号兆维大厦6层
                        </p>
                        <p class="tel"><i class="fa fa-phone"></i>400-810-6663</p>
                        <p class="email"><i class="fa fa-envelope-o"></i><a href="#">rong.capital@rongcapital.cn</a></p>
                    </div><!--//footer-col-inner-->
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-bar">
        <div class="container">
            <small class="copyright">Copyright @ 2015 融数金服 辽ICP备15009643号</small>
        </div><!--//container-->
    </div>
</div>

